*{
    margin: 0;
}

body{
    background-color: #333333;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #333;
    font-family: "Arial";
    color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
   box-shadow: 0 1px 10px #fff;
}

nav ul {
    display: flex;
    justify-content: space-evenly;   
    list-style: none;
    
}

li a{
    display: block;
    padding-left: 3rem;
    text-decoration: none;
    font-weight: 600;
    color: rgb(245, 85, 27);
}

.head h2{
    border: solid;
     padding: 3rem;
     font-size: 2rem;
    color: #fff;
     border-radius: 0.8rem;
}

.btn{
    background-color: transparent;
    border:solid;
    cursor: pointer ;
    padding: 1rem 2rem;
    border-radius: 3rem;
    color: whitesmoke;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.5s linear;
}

.btn:hover{
    background-color: rgb(221, 210, 210);
    color: rgb(245, 85, 27);
    border-color: rgb(221, 210, 210);
    outline: none;
}

.active{
    color: rgb(57, 111, 143);
    font-weight: 600;
    text-shadow: 5px 1px  9px rgb(15, 49, 68);
}

.color{
    color: hsl(205, 78%, 60%);
}

.container{
   display: grid;
   grid-row-gap: 4rem;
   place-items: center;
   color: #fff;
   font-family: "Arial";
   letter-spacing: 0.1rem;
   padding: 10rem;
}


